

@using MadeinHeavenBookStore.Models.ShipandCoupon;
@model List<Coupon>

<div class="container mt-4">
    <h2>Order List</h2>

    <ul class="list-group">

        @foreach (var od in Model)
        {
            <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Name: @od.Name</h5>
                    <strong> The remaining amount: @od.remainnumber</strong>
                  
                </div>
                <p class="mb-1">Coupon Code: @od.Code</p>
                <p class="mb-1">Discount: @od.discount VNĐ</p>
                <p class="mb-1">@od.Description</p>
                <hr />
            </li>
        }
    </ul>
</div>

