@{
	Layout = "_Layout";
}
@model List<ShopCart>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] Shopping Cart</title>
</head>

<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
			Home
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<span class="stext-109 cl4">
			Shoping Cart
		</span>
	</div>
</div>


<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
				<div class="m-l-25 m-r--38 m-lr-0-xl">
					<div class="wrap-table-shopping-cart" id="wrap-table-shopping-cart">
						
						<table style="display: none;" class="table-shopping-cart">
							<tr class="table_head">
								<th class="column-1">Product</th>
								<th class="column-2"></th>
								<th class="column-3">Price</th>
								<th class="column-4">Quantity</th>
								<th class="column-5">Total</th>
							</tr>

							@{
								decimal totalAmount = 0;
							}

							@foreach (var p in Model)
							{
								<tr class="table_row">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="@p.Product.imageurl1" alt="IMG">
										</div>
									</td>
									<td class="column-2">@p.Product.NameProduct</td>
									<td class="column-3">VNĐ @p.Product.Price</td>
									<td class="column-4">
										<div class="wrap-num-product flex-w m-l-auto m-r-0">
											<form method="#" asp-action="#" asp-controller="#"></form>
											<form method="post" asp-controller="ShoppingCart" asp-action="MinusQuantity" asp-route-id="@p.IdProduct">
												<button type="submit" class=" btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m fs-16 zmdi zmdi-minus"></button>
											</form>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1" value="@p.Quantity">

											<form method="post" asp-controller="ShoppingCart" asp-action="PlusQuantity" asp-route-id="@p.IdProduct">
												<button type="submit" class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m fs-16 zmdi zmdi-plus"></button>
											</form>

											<div style="display: none;">@(totalAmount += p.Product.Price * p.Quantity)</div>


										</div>
									</td>

									<td class="column-5">VNĐ @(p.Product.Price * p.Quantity)</td>

								</tr>
							}

							<div class="container mt-5">
								<h2>Ship Address</h2>
								<form method="post" asp-controller="Order" asp-action="saveOrder">

									<div class="mb-3">
										<label for="street" class="form-label">Reveiver Name</label>
										<input type="text" class="form-control" id="receiver" name="receiver" placeholder="Input Reveiver Name...">
									</div>
									<div class="mb-3">
										<label for="street" class="form-label">Street</label>
										<input type="text" class="form-control" id="street" name="street" placeholder="Input your street...">
									</div>

									<div class="mb-3">
										<label for="ward" class="form-label">Wards</label>
										<input type="text" class="form-control" id="ward" name="ward" placeholder="Input your wards...">
									</div>

									<div class="mb-3">
										<label for="district" class="form-label">District</label>
										<input type="text" class="form-control" id="district" name="district" placeholder="Input your district...">
									</div>

									<div class="mb-3">
										<label for="city" class="form-label">City</label>
										<input type="text" class="form-control" id="city" name="city" placeholder="Input your city...">
									</div>

									<div class="mb-3">
										<label for="city" class="form-label">Phone Number</label>
										<input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Input your Phone Number...">
									</div>
									<button type="submit" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
										Confirm Cash
									</button>
								</form>
									<form asp-controller=""> 
									<div class="size-208">
										<span class="stext-110 cl2">
											Code:
										</span>
									</div>
									</form>
									
			
							</div>

						</table>
					</div>





				</div>
			</div>

			<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
				<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
					<h4 class="mtext-109 cl2 p-b-30">
						Cart Totals
					</h4>

					<div class="flex-w flex-t bor12 p-b-13">
						<div class="size-208">
							<span class="stext-110 cl2">
								Subtotal:
							</span>
						</div>

						<div class="size-209">
							<span class="mtext-110 cl2">
								VNĐ @totalAmount
							</span>
						</div>
						<div class="size-208">
							<span class="stext-110 cl2">
								Discount:
							</span>
						</div>

						<div class="size-209">
							<span class="mtext-110 cl2">
								- @ViewData["discount"] VNĐ
							</span>
						</div>

						<div class="size-208">
							<span class="stext-110 cl2">
								Code:
							</span>
						</div>

						<div class="size-209">
							<span class="mtext-110 cl2">
								@ViewData["code"]
							</span>
						</div>

						<div class="size-208">
							<span class="stext-110 cl2">
								Method:
							</span>
						</div>

						<div class="size-209">
							<span class="mtext-110 cl2">
								@ViewData["shipname"]
							</span>
						</div>

						<div class="size-208">
							<span class="stext-110 cl2">
								Ship Free:
							</span>
						</div>

						<div class="size-209">
							<span class="mtext-110 cl2">
								+ @ViewData["shipprice"] VNĐ
							</span>
						</div>

					</div>


					<div class="flex-w flex-t p-t-27 p-b-33">
						<div class="size-208">
							<span class="mtext-101 cl2">
								Total:
							</span>
						</div>

						<div class="size-209 p-t-1">
							<span class="mtext-110 cl2">
								<div style="display: none;">
									@{
										int discount = ViewData["discount"] as int? ?? 0;
										int shipfree = ViewData["shipprice"] as int? ?? 0;
									}
								</div>

								VNĐ @(totalAmount - discount + shipfree)
							</span>
						</div>
					</div>
			
							<form asp-controller="Order" asp-action="ApplyShip" asp-route-id="1">
								<div class="size-209">
									<span class="stext-110 cl2">
										Ship Method: Quick Ship. About 6 hours, and About 3 day if you are not in Ho Chi Minh City.
									</span>
								</div>
								<div class="size-208">
									<span class="stext-110 cl2">
										Cost:   39000 VNĐ
									</span>
								</div>
								<button type="submit" class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									Choose
								</button>
							</form>

							<form asp-controller="Order" asp-action="ApplyShip" asp-route-id="2">
								<div class="size-209">
									<span class="stext-110 cl2">
										Ship Method: Standard Ship. About 2 days, and About 8 day if you are not in Ho Chi Minh City
									</span>
								</div>
								<div class="size-208">
									<span class="stext-110 cl2">
								Cost:   22000 VNĐ
									</span>
								</div>
								<button type="submit" class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									Choose
								</button>
							</form>
				

				</div>
			</div>
		</div>
	</div>
</form>

<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/select2/select2.min.js"></script>
<script>
	$(".js-select2").each(function () {
		$(this).select2({
			minimumResultsForSearch: 20,
			dropdownParent: $(this).next('.dropDownSelect2')
		});
	})
</script>
<!--===============================================================================================-->
<script src="~/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
	$('.js-pscroll').each(function () {
		$(this).css('position', 'relative');
		$(this).css('overflow', 'hidden');
		var ps = new PerfectScrollbar(this, {
			wheelSpeed: 1,
			scrollingThreshold: 1000,
			wheelPropagation: false,
		});

		$(window).on('resize', function () {
			ps.update();
		})
	});
</script>
<!--===============================================================================================-->
<script src="~/js/main.js"></script>