@page "/wishlist"
@using MadeinHeavenBookStore.Models
@using MadeinHeavenBookStore.Controllers.ShopAPI
@using MadeinHeavenBookStore.Controllers.Services

@using MadeinHeavenBookStore.Models.MVCService
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject WishlistAPIService WishlistAPIService
@inject WishlistService WishlistService


<div class="row isotope-grid">
	@foreach (var product in Wishlists)
	{
		
			<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
			<!-- Block2 -->
			<div class="block2">
				<div class="block2-pic hov-img0">
					<img src="@product.Product.imageurl1" alt="IMG-PRODUCT">


						<button @onclick="@(c => RemoveFW(product.Id))" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04" >Remove From Wishlist</button>


				</div>

				<div class="block2-txt flex-w flex-t p-t-14">
					<div class="block2-txt-child1 flex-col-l ">
						<button @onclick="@(c => ViewProduct(product.Product.IdProduct))" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
							@product.Product.NameProduct
						</button>

						<span class="stext-105 cl3">
							@product.Product.Price
						</span>
					</div>


				</div>
			</div>
		</div> 
	}
</div>


@code {
	List<Wishlist> Wishlists = new List<Wishlist>();
	protected override async Task OnInitializedAsync()
	{
		await Update();
	}
	public async Task Update()
	{
		Wishlists = await WishlistAPIService.GetWishList();
	}

	public async Task RemoveFW(int id)
	{
		await WishlistAPIService.DeleteFromWishlist(id);
		await Update();
	}
	public void ViewProduct(int id)
	{
		NavigationManager.NavigateTo("ProductDetail/ProductDetail/" + id, true);
	}

}
